<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="shop" ngDefaultControl [(ngModel)]="title">{{shop.title}}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="shop" routerLink="/shop-edit/{{shop._id}}">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button *ngIf="shop" routerLink="/shop-add/{{shop._id}}">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <span *ngIf="shop" ngDefaultControl [(ngModel)]="title">{{shop.description}}</span>
  </ion-item>

  <ion-list *ngFor="let categorie of categories">

    <ion-item *ngIf="shop._id===category.shopID">
    <ion-card  button="true" routerLink="/category/{{shop._id}}">>
      <ion-card-header>
        <ion-card-title>{{shop.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{shop.description}}
      </ion-card-content>
    </ion-card>
    </ion-item>
  </ion-list>

    


</ion-content>